h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

address {
  font-style: inherit;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: inherit;
  box-shadow: none;
  cursor: pointer;

  font-family: inherit;
}

svg {
  fill: currentColor;
}
