@import './utils/variables';
@import './utils/mixns';

@import './base/common';
@import './base/reset';

@import './layouts/mobileMenu';
@import './layouts/header';
@import './layouts/filter';
@import './layouts/calendar';
@import './layouts/newsSection';
@import './layouts/weather';
@import './layouts/paginations';
@import './layouts/footer';
@import './layouts/loader';
@import './layouts/_errorSearch';
@import './layouts/readNews';
