:root {
  --primary-bg-color: #f4f4f4;
  --primary-text-color: #111321;
  --color-btn-favorite: #111321;
  --white-color: #ffffff;
  --accent-color: #4440f6;
  --gray-color: #a8a8a8;
  --footer-color: #7a7a7a;
  --switcher-dark: #5f6775;
  --switcher-light: #4b48db;

  //   темная тема
  --bg-color: #2e2e2e;
  --text-color: #f4f4f4;
  --switcher-light: #f4f4f4;
  --switcher-dark: #4440f7;
}
