<section class="filter">
  <div class="container filter__container">
    <div class="filter__wrap js-category-wrapper" >
      <ul class="filter__main-categories main-categories js-main-categories">
        <!-- <li class="main-categories__item">
          <button class="main-categories__btn" type="button">Lorem</button>
        </li>
        <li class="main-categories__item">
          <button class="main-categories__btn" type="button">Eius</button>
        </li>
        <li class="main-categories__item">
          <button class="main-categories__btn" type="button">Repell</button>
        </li>
        <li class="main-categories__item">
          <button class="main-categories__btn" type="button">Ipsam</button>
        </li>
        <li class="main-categories__item">
          <button class="main-categories__btn" type="button">Velit</button>
        </li> -->
      </ul>
      <div class="filter__others">
        <ul class="dropdown-list js-dropdown-list">
          <!-- <li class="dropdown-list__item">
            <button class="dropdown-list__btn" type="button">
             Lorem, ipsum
            </button>
          </li>
          <li class="dropdown-list__item">
            <button class="dropdown-list__btn" type="button">Lorem</button>
          </li>
          <li class="dropdown-list__item">
            <button class="dropdown-list__btn" type="button">Lorem</button>
          </li>
          <li class="dropdown-list__item">
            <button class="dropdown-list__btn" type="button">
              Lorem, ipsum
            </button>
          </li>
          <li class="dropdown-list__item">
            <button class="dropdown-list__btn" type="button">Lorem</button>
          </li> -->
        </ul>
        <button class="dropdown-btn js-btn-show-others" id = "filter-others">
          <span class="dropdown-btn__text"></span>
          <svg class="dropdown-btn__icon" width="14" height="14">
            <use href="./images/sprite.svg#arrow-down"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="calendar-form">
      <p class="calendar-form__text">Search date news</p>


      <div class="calendarPicker">

        <button class="choseDataButton" id="choseDataButton">current date</button>
		<svg class="calendar-icon" width="14" height="14">
			<use href="./images/sprite.svg#calendar"></use>
		</svg>
		<svg class="dropdown-icon" width="14" height="14">
			<use href="./images/sprite.svg#arrow-down"></use>
		</svg>
        <div class="container-calendar">
          <div class="calendar" id="calendar">
            <div class="calendar-header">
              <div class="header-left-block">
                <span class="mounth-year-display" id="mounth-year-display"></span>
                <button class="date-change" id="next-year">
                  >
                </button>
              </div>
              <div class="mounth-picker" id="mounth-picker">
                <button class="month-change" id="pre-month">
                  < </button>
                    <button class="month-change" id="next-month">
                      >
                    </button>
              </div>
            </div>

            <div class="calendar-body">
              <div class="calendar-week-days">
              </div>
              <div class="calendar-days">
              </div>
              <div class="calendar-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>