<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-icon" width="12" height="12">
      <use href="./images/sprite.svg#close-icon"></use>
    </svg>
  </button>

  <ul class="mobile-menu list">
    <li>
      <a href="./index.html" class="mobile-menu__current link">
        <svg class="menu-icon" width="12" height="12">
          <use href="./images/sprite.svg#close-icon"></use>
        </svg>
        Home
      </a>
    </li>
    <li><a href="" class="link">Favourite</a></li>
    <li><a href="" class="link">Read</a></li>
  </ul>

  //////////////////////Theme switch//////////////////
  <div class="theme">
    <svg class="theme-icon__light" width="19" height="19">
      <use href="./images/sprite.svg#sun"></use>
    </svg>
    <label class="switch">
      <input type="checkbox" class="switch-checkbox" />
      <span class="toggle"></span>
    </label>
    <svg class="theme-icon__dark" width="19" height="19">
      <use href="./images/sprite.svg#moon"></use>
    </svg>
  </div>
</div>
