<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="nav-close">
    <a href="./index.html" class="logo">News</a>
    <button class="menu-toggle js-close-menu">
      <svg class="menu-icon__close" width="25" height="25">
        <use href="./images/sprite.svg#close-icon"></use>
      </svg>
    </button>
  </div>

  <ul class="mobile-menu list">
    <li>
      <a href="./index.html" class="mobile-menu__item link" id="home">
        <div class="menu-both">
          <svg class="menu-icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-home"></use>
          </svg>
          Home
        </div>

        <svg class="menu-icon__arrow" width="24" height="24">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="./favorite.html" class="mobile-menu__item link" id="favourite">
        <div class="menu-both">
          <svg class="menu-icon" width="32" height="32">
            <use href="./images/sprite.svg#heart-menu"></use>
          </svg>
          Favourite
        </div>
        <svg class="menu-icon__arrow" width="24" height="24">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="./read.html" class="mobile-menu__item link" id="read">
        <div class="menu-both">
          <svg class="menu-icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-book"></use>
          </svg>
          Read
        </div>
        <svg class="menu-icon__arrow" width="24" height="24">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </li>
  </ul>

  <div class="theme">
    <svg class="theme-icon theme-icon__light" width="21" height="21">
      <use href="./images/sprite.svg#sun"></use>
    </svg>
    <label class="switch">
      <input type="checkbox" class="switch-checkbox" />
      <span class="slider round"></span>
    </label>
    <svg class="theme-icon theme-icon__dark" width="21" height="21">
      <use href="./images/sprite.svg#moon"></use>
    </svg>
  </div>
</div>