<section class="news">
  <div class="container">
    <ul class="news__lists">
      <li class="news__item"></li>
      <!-- <li class="news__item">Lorem ipsum dolor sit amet.</li>
      <li class="news__item">Lorem ipsum dolor sit amet.</li>
      <li class="news__item">Lorem ipsum dolor sit amet.</li>
      <li class="news__item">Lorem ipsum dolor sit amet.</li>
      <li class="news__item">Lorem ipsum dolor sit amet.</li> -->
      <!-- Место для рендера новостей -->

      <!-- Шаблон одной карточки новостей -->
      <!-- <li class="news__item">
                <article class="news__article">
                    <div class="news__wrapper">
                        <img class="news__img" src="./images/error-desktop@2x.png" alt="">
                        <p class="news__category">Job searching</p>
                        <p class="news__favorite">Add to favorite

                            <svg class="news__icon" width="16" height="16">
                                <use href="./images/sprite.svg#icon-like-stroke"></use>
                                <use href="./images/sprite.svg#like"></use>
                            </svg>

                        </p>
                    </div>
                    <h2 class=" news__title">
                    </h2>
                    <p class="news__description"></p>
                    <div class="news__info">
                        <span class="news__date">
                        </span>
                        <a class="news__link-more" href="#">Read more</a>
                    </div>
                </article>
            </li> -->
    </ul>
  </div>
</section>
