<section class="news">
    <div class="container">
        <ul class="news_lists">
            <!-- Место для рендера новостей -->

            <!-- Шаблон одной карточки новостей -->
            <!-- <li class="news__item">
                <article class="news__article">
                    <div class="news__wrapper">
                        <img class="news__img" src="./" alt="">
                        <p class="news__category">Job searching</p>
                        <p class="news__favorite">Add to favorite

                            <svg class="news__icon">
                                <use></use>
                            </svg>
            
                        </p>
                    </div>
                    <h2 class="news__title"></h2>
                    <p class="news__description"></p>
                    <div class="news__info">
                        <span class="news__date">
                        </span>
                        <a class="news__link-more" href="#">Read more</a>
                    </div>
                </article>
            </li> -->

        </ul>
    </div>

</section>