<div class="page-container pagination-hidden pagination">
  <div class="pagin">

    <button class="prev-page" disabled>
      <a class="fas fa-angle-left"> <span class="s_prew">&#8249;</span> Prew </a>
    </button>

    <ul id="pagination"></ul>


    <button class="next-page">
      <a class="fas fa-angle-right"> Next <span class="s_next">&#8250;<span></a>
    </button>


  </div>
</div>

<!-- одним із рішень може бути наступне:
1) стягуємо з бека всі об‘єкти в один масив
2) відповідно до розміру екрану визначаємо кількість сторінок і рендеримо кнопки пагінації , а в дата атрибуті кнопок
записуємо номер сторінки - 1
3) вішаємо обробники події на кнопки, а як колбек передаємо функцію, яка буде визначати, які об‘єкти будуть рендеритись
на конкретній сторінці. Це можна зробити наступним чином:
arrayOfObjects.slice(dataAttribute * countOfCardsOnPage, dataAttribute * countOfCardsOnPage + countOfCardsOnPage)
4) Очищуємо попередній список. Рендеримо новий. -->