<div id="weather" class="weather">
  <div class="weather__position">
    <span class="weather__degree"></span>
    <div class="weather__item">
      <span class="weather__value"></span>
      <p class="weather__location">
        <svg>
          <use href="./images/sprite.svg#location"></use>
        </svg>
        <span class="weather__city"></span>
      </p>
    </div>
  </div>
  <img class="weather__image" />
  <div class="weather__date">
    <p class="weather__day"></p>
    <p class="weather__year"></p>
  </div>
  <a
    href="https://sinoptik.ua/"
    class="weather__link"
    target="_blank"
    rel="noreferrer noopener"
    >weather for week</a
  >
</div>
