<section class="filter">
    <div class="filter-category">
        <ul class="filter-category__list">
            <!-- для списка основных тем -->
        </ul>
        <div class="filter-category__others-container">
            <button class="filter-category__others-button"></button>
            <ul class="filter-category__container">
                <!--для списка остальных тем-->
            </ul>
        </div>
    </div>

    <div class="calendar-form">
        <p class="calendar-form__text">Search date news</p>
        <div class="input-form">
            <!-- для стилизацыи input календаря -->
            <input readonly>
        </div>

        <div class="calendar-wrapper">
            <!-- для календаря -->
            <div class="calendar-wrapper__container">

            </div>
        </div>
    </div>
</section>