<header class="header">
    <div class="header__container container">
        <a href="./index.html" class="logo">News</a>

        <nav class="nav">
            <!-- прятать в десктоп версии а на мобилке в меню показывать-->
            <a href="./index.html" class="logo logo--mobile">News</a>

            <a href="./index.html" class="nav__link nav__link--current">

                <!-- Показывать иконки толко в мобильной версии -->
                <div class="nav__icon-wraper">
                    <svg class="nav__icon-mobile">
                        <use></use>
                    </svg>
                </div>
                Home
            </a>

            <a href="./" class="nav__link">

                <!-- Показывать иконки толко в мобильной версии -->
                <div class="nav__icon-wraper">
                    <svg class="nav__icon-mobile">
                        <use></use>
                    </svg>
                </div>
                Favorite
            </a>

            <a href="./" class="nav__link">

                <!-- Показывать иконки толко в мобильной версии -->
                <div class="nav__icon-wraper">
                    <svg class="nav__icon-mobile">
                        <use></use>
                    </svg>
                </div>
                Read
            </a>

            <!-- прятать в десктоп версии а на мобилке в меню показывать переключатель темы -->
            <div class="theme-mobile">
                <svg class="theme__svg sun">
                    <use></use>
                </svg>

                <label class="switch">
                    <input type="checkbox" class="switch-checkbox" />
                    <span class="toggle"></span>
                </label>

                <svg class="theme__svg moon">
                    <use></use>
                </svg>
            </div>

            <!-- Кнопка закрытия мобильного меню -->
            <!-- прятать в десктоп версии а на мобилке в меню показывать -->
            <button type="button" class="mobile-btn-open">
                <svg class="icon">
                    <use></use>
                </svg>
            </button>
        </nav>

        <!-- форма поиска новостей -->
        <form class="search">
            <button class="search__btn">
                <svg class="search__icon">
                    <use></use>
                </svg>
            </button>
            <input type="text" placeholder="Search" />
        </form>

        <!-- прятать в мобильной версии а на десктопе показывать переключатель темы-->
        <div class="theme">

            <p class="theme__light">Light</p>

            <label class="switch">
                <input type="checkbox" class="switch-checkbox" />
                <span class="toggle"></span>
            </label>

            <p class="theme__dark ">Dark</p>

        </div>

        <!-- Кнопка открывания мобильного меню -->
        <button type="button" class="mobile-btn-open">
            <svg class="icon">
                <use></use>
            </svg>
        </button>
    </div>
</header>