:root {
	--blue: #4440F6;
	--main-white: #fff;
	--main-background: #F8F8F8;
	--incative-text: rgba(60, 60, 67, 0.3);
	--border-inactive: rgba(162, 162, 162, 1);	
}

.choseDataButton{
	width: 151px;
	height: 30px;
	background-color: var(--main-white);
	color: var(--incative-text);
	border: 1px solid #111321;
	border-radius: 20px;
	margin-bottom: 2px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	transition: background-color 250ms ease-in-out;

	@include tablet {
		width: 168px;
	}  
}

.choseDataButton:hover,
.choseDataButton-active{
	background-color:var(--blue);
	border: 0;
	color: var(--main-white);
}

.choseDataButton:hover ~ .calendar-icon,
.choseDataButton:hover ~ .dropdown-icon{
	transition: transform 250ms ease-in-out;
	color: var(--main-white);
}

.container-calendar{
	width: max-content;
	height: max-content;
	position: absolute;
	top: 35px;
	left: -80px;
	justify-content: center;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 250ms ease-in-out, visibility 0.3s ease-in-out;
}

.container-calendar--active{
	opacity: 1;
	visibility: visible;
	transition: transform 250ms ease-in-out;
}

.calendar{
	height: 250px;
	width: 250px;
	background-color: var(--main-background);
	padding: 27px 20px 16px 16px;
	border-radius: 20px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -0.408px;
	font-feature-settings: 'case' on;
}

.calendar-header{
	font-size: 16px;
	height: 26px;
	padding-bottom: 13px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mounth-year-display{
	padding-right: 8px;
}

.header-left-block{
	display: flex;
	justify-content: space-between
}

.mounth-picker{
	display: flex;
	justify-content: space-between;
	width: 60px;
}

.calendarPicker{
	position: relative;
}

.calendar-icon{
	position: absolute;
	top: 8px;
	left: 10px;
	color: var(--blue);
	transition: transform 250ms ease-in-out;
}

.calendar-icon--active{
	color: var(--main-white);
}

.dropdown-icon{
	position: absolute;
	top: 8px;
	right: 10px;
	color: var(--incative-text);
	rotate: 0;
	transition: all 250ms ease-in-out;
}

.dropdown-icon--active{
	color: var(--main-white);
	transform: rotate(180deg);
}

.year-change{
	display: flex;
	rotate: -90deg;
	justify-content: center;
	align-items: center;
	border-radius:20px;
	width: 20px;
	height: 20px;
	color: var(--blue);
}

.year-change:hover{
	background-color: var(--blue);
	color: var(--main-white);
	cursor: pointer;
	border-radius: 20px;
}

.calendar-week-days{
	color: var(--incative-text);
	display: flex;
	justify-content: space-between;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	cursor: pointer;
}

.calendar-week-days div{
	display: grid;
	place-items: center;
}

.calendar-days{
	margin-top: 15px;
	display: grid;
	grid-template-columns: repeat(7, 32px);
	height: 150px;
}

.calendar-dates-day{
	width: 25px;
	height: 25px;
}

.calendar-dates-day:hover{
	background-color:var(--blue);
	border-radius: 20px;
	color: var(--main-white);
}

.month-change{
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--blue);
	background-color: var(--main-background);
	width: 20px;
	height: 20px;
}

.month-change:hover{
	background-color: var(--blue);
	color: var(--main-white);
	border-radius: 26px;
	cursor: pointer;
}

.month-change-prev{
	rotate: 90deg;
}

.month-change-next{
	rotate: -90deg;
}

.year-list{
	visibility: hidden;
	opacity: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: -10px;
	right: 175px;
	margin-top: 20px;
	border-radius:5px;
	padding: 10px 0px;
	background-color: var(--main-background);
	position: absolute;
	height: 240px;
	overflow: auto;
	width: max-content;
}

.year-list--active{
	visibility: visible;
	opacity: 1;
}

.yearListButtons{
	margin-bottom: 10px;
	width: 70px;
}

.yearListButtons:hover{
	color: var(--main-background);
	background-color: var(--blue);
	cursor: pointer;
}