.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 24px 16px 18px;
    background-color: var(--white-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 28px;
    right: 16px;
    color: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
    line-height: calc(47/40);
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 302px;
    


&__item{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0 6px 16px;
    margin-bottom: 18px;
    height: 44px;
    min-width: 320px;
    max-width: 480px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(22/16);
    
    color: var(--primary-text-color);

}

&__current {
    background-color: var(--accent-color);
    background-size: cover;
    color: var(--white-color);
    margin: 0 -25px 18px -16px;
    padding-left: 32px;
    padding-right: 10px;
    }

}
.menu-both{
    display: flex;
    align-items: center;
    gap: 14px;
}


.mobile-menu .link {
    text-decoration: none;
}

.menu-icon{   
    stroke: var(--white-color);
}

.nav-close{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
    
}

.menu-icon__arrow{
    stroke: var(--white-color);
    fill: transparent;
}




.theme{
    position: absolute;
    bottom: 18px;
    left: 16px;
    display: flex;
    gap: 8px;
    align-items: center;
}



.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.604701px solid var(--switcher-on);

    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 1px;
    background-color: var(--switcher-on);
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked+.slider {
    background-color: var(--switcher-on);   
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--accent-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
    background-color: var(--white-color);
}


/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked+.slider.round {
    background-color: var(--switcher-on);
    border: 0.604701px solid var(--white-color);
}

.theme-icon{
margin: 0;
}

.theme-icon__light {
    fill: var(--switcher-on);

}

.theme-icon__dark {
    fill: var(--switcher-off);
}

input:checked + .theme.theme-icon__light {
    fill: var(--switcher-off);
}

;

input:checked + .theme.theme-icon__dark {
    fill: var(--switcher-on);
}


