.news {
  padding: 40px 0;

  @include tablet {
    padding: 48px 0;
  }

  @include desktop {
    padding: 60px 0;
  }
}

.news__lists {
  display: flex;
  gap: 28px;

  @include tablet {
    gap: 30px;
  }

  @include desktop {
    gap: 32px;
  }
}

.news__item {
  // border: 1px solid black;
  position: relative;
  flex-basis: 100%;

  @include tablet {
    flex-basis: 30%;
    flex-basis: calc(50% - 30px);
  }

  @include desktop {
    flex-basis: calc(30% - 56px);
  }
}

.news__title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #111321;

  height: 167px;
  flex-grow: 1;
  overflow: hidden;
}

.news__description {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;

  color: #111321;
  margin-bottom: 20px;
}

.news__date {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;

  text-align: right;

  color: #a8a8a8;
}

.news__link-more {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #4440f7;
}

.news__category {
  // cursor: url(cursor-hand.fe1b03e6.svg),pointer;
  min-width: 96px;
  height: auto;
  color: var(--white-color);
  background: rgba(68, 64, 247, 0.7);
  border-radius: 0 4px 4px 0;
  justify-content: center;
  margin: 0;
  padding: 4px 14px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  position: absolute;
  top: 40px;
  left: 0;
}

.news__img {
  min-width: 288px;
  height: 395px;
  object-fit: cover;
  border-radius: 4px;
}

//     .news__add-to-favorite {
//       pointer-events: auto;
//       z-index: 2;
//       min-width: 40px;
//       min-height: 10px;
//       text-align: left;
//       color: #111321;
//       background-color: #FFFFFF;
//       border-radius: 20px;
//       margin: 0;
//       padding: 6px 32px 6px 12px;
//       font-size: 12px;
//       font-weight: 500;
//       line-height: 16px;
//       transition-duration: .25s;
//       transition-timing-function: cubic-bezier(.4,0,.2,1);
//       position: absolute;
//       bottom: 12px;
//       right: 12px;
//     }

.hidden {
  display: none;
}

.news__wrapper {
  pointer-events: auto;
  margin-bottom: 20px;
  position: relative;
}

.news__block-icon {
  fill: #fff;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  right: 12px;
}

.news__info {
  display: flex;
  justify-content: space-between;
}

.new__text-wrapper {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

//BTN test

.item-news__add-to-favorite {
  position: absolute;

  pointer-events: auto;
  z-index: 2;

  min-width: 40px;
  min-height: 10px;
  margin: 0;
  padding: 6px 32px 6px 12px;
  right: 12px;
  bottom: 12px;

  background: #ffffff00;
  border-radius: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: left;

  color: #111321;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 20px;
    height: 28px;
    width: 126px;
    z-index: -1;

    background: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .item-news__remove-to-favorite-btn {
    position: absolute;

    left: -26px;
    width: 153px;
    opacity: 0;
    z-index: 2;
    pointer-events: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .item-news__remove-to-favorite-btn::after {
    content: '';
    display: block;
    position: absolute;

    transform: translateX(0px);

    right: 0;
    top: -6px;
    border-radius: 20px;
    height: 28px;
    width: 126px;
    z-index: -1;

    background: #ffffff;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.hidden-span .item-news__remove-to-favorite-btn {
    opacity: 1;
    pointer-events: auto;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .active-news-icon {
      fill: var(--accent-color);
      stroke: var(--accent-color);

      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &.hidden-span .item-news__add-to-favorite-btn {
    opacity: 0;
    pointer-events: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.item-news__add-to-favorite.hidden-span
  .item-news__remove-to-favorite-btn::after {
  transform: translateX(-42px);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-news__block-icon {
  fill: white;
  position: absolute;
  right: 12px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.opacity {
  opacity: 0.5;
}

// Мый варіант через flexbox
// .news {
//   // margin: 0 auto;
//   background-color: var(--primary-background-color);
//   padding: 40px 0; 
  
//     @include tablet {
//       padding: 48px 0; 
     
//     }
  
//     @include desktop {
//       padding: 60px 0;
//     }
  
//   &_lists {
//   //    margin: 0 auto;
//   // padding: 15px 15px 0 15px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
  
//   @include tablet {
//     column-gap:30px;
   
//   }

//   @include desktop {
//     column-gap:31px;
//   }

//   }
  
//   &__item
//   // :not(:last-child) 
//   {
//     width: auto;
//     height: auto;
//     margin-bottom: 28px ;
//     list-style:  none;
    
//     @include tablet {
//       // width: 353px;
//       // height: 395px;
//       margin-bottom: 30px ;
     
//     }
  
//     @include desktop {
//       // height: 395px;
//       // width: 395px;
//       margin-bottom: 40px ;
//     }
// }
//     &__date {
//   font-family: Manrope;
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 1, 4;
//   letter-spacing: 0em;
//   text-align: right;
// }
// &__title {
//   margin-top: 20px;
//   font-family: Manrope;
//   font-size: 32px;
//   font-weight: 700;
//   line-height: 1, 4;
//   letter-spacing: -0.01em;
//   text-align: left;
//   width: 353px;
// }
// &__description {
//   margin-top: 20px;
//   font-family: Manrope;
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 1, 4;
//   letter-spacing: 0em;
//   text-align: left;
//   width: 353px;
// }
// &__wrapper {
//   box-shadow: 0px 4px 4px 0px #00000040;
//   position: relative;
// }
// &__category {
//   position: absolute;
//   left: 0;
//   top: 40px;
//   color: white;
// }

// &__favorite {
//   position: absolute;
//   right: 12px;
//   bottom: 12px;
//   color: white;
// }




// &__img {
//   height: 395px;
//   width: 288px;
//   object-fit:cover ;
  
//   @include tablet {
//     height: 395px;
//   width: 353px;
//   object-fit: cover;
//   }

//   @include desktop {
//     height: 395px;
//   width: 395px;
//   }
// }
// Тимчасовий муляж віджету погоди 
.news__weather{
  
  width: 288px;
  height: 469px;
  background-color: #4440F6;
  @include tablet{

  width:353px ;
  height: 675px;}
  @include desktop {
  
  height: 675px;
  width: 395px;
  }
  
}

.text_weather{
  font-size: 40px;
  color:white
}
.location_weather{
  order:1;
  @include tablet{
    order:2;
 }
  @include desktop {
    order: 3;
    }
}

